:root {
  --poppinsFont: 'Poppins', sans-serif;
  --sourceSansFont: 'Source Sans 3', sans-serif;
  --aldrichFont: 'Aldrich', sans-serif;
  --primary-clr: #242635;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo 2', cursive;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;
  color: var(--primary-clr);
}

.header-text {
  font-size: 24px;
  font-weight: 700;
}

.nav {
  display: none;
}

.patagonia .patagonia-content {
  margin: 64px auto;
  max-width: 217px;
}

.patagonia-heading {
  margin: 0 auto;
  font-family: var(--poppinsFont);
  font-size: 2.25em;
  font-weight: 500;
  width: 100%;
  max-width: 182px;
  color: var(--primary-clr);
}

.patagonia-text {
  width: 100%;
  min-height: 49px;
  text-align: center;
  margin: 27px auto 57px;
  font-size: 12px;
  line-height: 18px;
  color: var(--primary-clr);
}

@media screen and (min-width: 768px) {
  .wrapper {
    min-width: 768px;
    margin-top: 34px;
  }

  .icon {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav-list {
    display: flex;
    gap: 30px;
    font-family: var(--sourceSansFont);
    color: var(--primary-clr);
    line-height: 22.4px;
  }

  .patagonia-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .patagonia .patagonia-content {
    max-width: 574px;
    min-height: 171px;
    margin: 0 auto 45px;
  }

  .patagonia-content .patagonia-heading {
    font-size: 4.5em;
    width: 100%;
    max-width: 364px;
    margin-bottom: 22px;
  }

  .patagonia-text {
    text-align: center;
    font-size: 1.375em;
    line-height: 33px;
    font-family: var(--sourceSansFont);
    margin-bottom: 45px;
  }

}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }

  .patagonia-article {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .header-text {
    font-family: var(--aldrichFont);
    font-weight: 400;
  }
}